body {
    margin: auto;
    background-image: url(images/yoga-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.count {
    font-size: 75pt;
    display: flex;
    justify-content: center;
    border: 8px red dotted;
    margin: 0 30px;
    color: red;
    border-radius: 300px;
    background-color: white;
    opacity: 0.5;
    position: relative;
    bottom: 50px;

}

.buttons {
    width: 200px;
    height: 100px;
    font-size: 50pt;
    position: relative;
    top: 315px;
    border-radius: 30px;

}

.button-panel {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
    .count { 
       color: blue;
       margin: 10px;
       font-size: 25pt;
       margin-top: 50px;
    }

    .button-panel {
        display: flex;
        justify-content: space-around;

    }

    .buttons {
        width: 100px;
        height: 50px;
        font-size: 25pt;
        position: relative;
    }
}